<div>
    <div class="hero" id="hero" *ngFor="let cms of listCMS">

        <div class="column1">
            <div class="col1">
                <h1 class="sentence1">{{cms.intro}}</h1>
                <h4 class="sentence2">{{cms.sitedesc}}</h4>
                <div class="button-sect"><button class="button-1" (click)="openDonateBtn(DonateBtn)">Donate Now</button>
                </div>
                <div class="social"> <a href="https://www.youtube.com/" target="_blank">- YouTube -</a><a href="https://www.facebook.com" target="_blank">- Facebook -</a><a href="https://www.instagram.com" target="_blank">- Instagram -</a></div>
            </div>
        </div>

        <div class="column2">
            <img src="assets/img/suburban-homes.jpg">
            <h1 class="img-text">🚴 {{cms.imgdesc}}🏡</h1>
        </div>

    </div>
    <div class="greenContainer">
        <div class="container-liner">

            <span class="acticity">
                <a class="activiy-icon"></a>
                <p>
                </p>
            </span>
            <span class="acticity">
                <a class="activiy-icon"><i class="fas fa-hand-holding-usd"></i></a>
                <p>
                </p>
            </span>
            <span class="acticity">
                <a class="activiy-icon"></a>
                <p>
                </p>
            </span>
            <span class="acticity">
                <a class="activiy-icon"></a>
                <p>
                </p>
            </span>

            <span class="dot-buttom">
    
            </span>
            <span class="dot-top">
                
            </span>
            <span class="dot-buttom">
    
            </span>

            <span class="dot-top">
    
            </span>
        </div>

    </div>

    <div class="bulletin">


        <div class="modal-body" id="event-card">
            <form class="card " style="max-width: 400px; min-width: 300px;">

                <div class="card-body m-3">
                    <h5 class="card-title mb-3">Bingo Night!</h5>
                    <hr>
                    <p class="card-text mt-3 mb-3">Come join us this Friday for Bingo Night, 5 dollars donations are accepted but not required to play. If you are from the Cobblestone Place community you are welcome, anyone else must be invited.</p>
                    <hr>
                    <h6 class="card-contact-address mt-3"><span>Contact: Nannabe@gmail.com</span></h6>
                    <h6 class="card-contact-address mt-2"><span>Creator: Nanna Bella</span></h6>
                    <h6 class="card-contact-address mt-2"><span>Location: 256 Gold st. Clayton, NC</span></h6>
                    <h6 class="card-date-time mt-3"><span>From: 08/05/22 At: 2:30p</span> <span>To: 08/05/22 At: 6:30p</span></h6>

                </div>
            </form>
        </div>

        <div class="eventCard-desc">
            <h2>Create or find an event to join.</h2>
            <p class="eventCard-text">When you create or join an event you get the chance to know others, bond with your neighbor's and have fun!</p>
        </div>

    </div>

    <div class="bulletin">

        <div class="eventCard-desc2">
            <h2>Ceate or find a job post that interest you.</h2>
            <p class="eventCard-text">Why bother hiring some total stranger or traveling far to do a job when your neighbors are closer, just create a job post or reply to one.</p>
        </div>

        <div class="modal-body" id="event-card">
            <form class="card " style="max-width: 400px; min-width: 300px;">

                <div class="card-body m-3">
                    <h5 class="card-title mb-3">Landscaping Needed</h5>
                    <hr>
                    <p class="card-text mt-3 mb-3">Hello fellow neighbors, I’m looking for someone that has experience creating small vegetable gardens. I would like a 20’ by 20’ garden to plant potatoes, eggplants, chili peppers, and other things alike.</p>
                    <hr>
                    <h6 class="card-contact-address mt-3"><span>Contact: Maria32@gmail.com</span></h6>
                    <h6 class="card-contact-address mt-2"><span>Creator: Maria Deluz</span></h6>
                    <h6 class="card-contact-address mt-2"><span>Location: 240 Gold st. Clayton, NC</span></h6>
                    <h6 class="card-date-time mt-3"><span>From: 09/03/22 At: 2:00p</span> <span>To: 09/04/22 At: 6:30p</span></h6>

                </div>
            </form>
        </div>
        <div class="eventCard-desc1">
            <h2>Create or find an event to join.</h2>
            <p class="eventCard-text">Why bother hiring some total stranger or traveling far to do a job when your neighbors are closer, just create a job post or reply to one.</p>
        </div>

    </div>

    <div class="bulletin">

        <div class="job-card-container">


            <div class="modal-body" id="serv-card">
                <form class="card " style="max-width: 400px; min-width: 350px; height: 225px;">



                    <div class="card-body m-3">
                        <div class="card-contact1"><span>772-800-4323</span><span>Mario Divashi</span></div>
                        <div class="card-title1 mb-3"><span>mariosp@contact.com</span><span>Owner</span></div>
                        <hr>

                        <div class="Business-Tittle mt-3">Mario's Plumbing</div>
                        <div class="Business-Services">Home Plumbing Service</div>


                    </div>

                    <div class="Business-website">www.mariosplumbing.com</div>

                    <div class="all-circles" style="text-align:center">
                        <span class="circle1">
                                <span class="circle2">
                                    <span class="circle3"></span>
                        </span>
                        </span>


                    </div>



                </form>
            </div>
            <div class="eventCard-desc">
                <h2>Create or find business card.</h2>
                <p class="eventCard-text">Create your own business card letting your neighbors know what type of services you provide, or find someone who can provide the service you need.</p>
            </div>

        </div>


        <!-- Donate -->
        <ng-template #DonateBtn let-modal>
            <div class="modal-header m-4">
                <h4 class="modal-title">YOUR DONATION IS APPRECIATED</h4>
                <button type="button" class="close px-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body m-4">
                <form [formGroup]="donateForm" (ngSubmit)="donateFunds()">
                    <div class="form-group m-2 pt-3">
                        <label for="exampleInputEmail1">EMAIL ADDRESS</label>
                        <input formControlName="email" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control p-2 w-100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email for security purpose.*" required>


                        <div class="text-danger" *ngIf="donateForm.controls.email.invalid && (donateForm.controls.email.dirty || donateForm.controls.email.touched)">
                            <div *ngIf="donateForm.get('email')?.hasError('required')">
                                Email is required.
                            </div>
                        </div>

                        <div class="text-danger" *ngIf="donateForm.controls.email.invalid && (donateForm.controls.email.dirty || donateForm.controls.email.touched)">
                            <div *ngIf="donateForm.get('email')?.hasError('pattern')">
                                Email Address must be a valid email address.
                            </div>
                        </div>

                    </div>

                    <div class="form-group mx-2 pt-4">
                        <label for="exampleInputCardHolder">CARD HOLDER</label>
                        <input formControlName="cardHolder" type="text" class="form-control p-2 w-100" id="exampleInputCardHolder" placeholder="John Doe*" required>

                        <div class="text-danger" *ngIf="donateForm.controls.cardHolder.invalid && (donateForm.controls.cardHolder.dirty || donateForm.controls.cardHolder.touched)">
                            <div *ngIf="donateForm.get('cardHolder')?.hasError('required')">
                                Card holder <strong>full name</strong> is required.
                            </div>
                        </div>

                    </div>


                    <div class="form-group mx-2 pt-4">
                        <label for="exampleInputCardInformation">CARD INFORMATION</label>

                        <span class="text-danger mx-2" *ngIf="donateForm.get('cardNumber')?.hasError('pattern')" required>
                                Please enter the card number correctly.
                        </span>
                        <span class="text-danger mx-2" *ngIf="donateForm.controls.cardNumber.invalid && (donateForm.controls.cardNumber.dirty || donateForm.controls.cardNumber.touched)" required>
                            Card number is required.
                        </span>
                        <input formControlName="cardNumber" type="text" class="form-control p-2 w-100" id="exampleInputCardInformation" pattern="^([0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4})$" placeholder="1234 1234 1234 1234*" required>



                    </div>

                    <div class="form-group mx-2 d-flex">


                        <input formControlName="expDate" type="text" pattern="^([0-1]{1}[1-2]{1}|[0]{1}[1-9]{1}|[1]{1}[0]{1})\/([0-9]{1}[0-9]{1})$" class="form-control p-2 w-50" id="exampleExpirationDate" placeholder="MM/YY*" required>



                        <input formControlName="cvc" id="exampleCVC" type="text" class="form-control p-2 w-50" pattern="^[\d]{3,4}$" placeholder="CVC*" required>

                    </div>
                    <!--expDate-->
                    <div class="text-danger mx-2 w-100 " *ngIf="donateForm.controls.expDate.invalid && (donateForm.controls.expDate.dirty || donateForm.controls.expDate.touched) ">
                        Card expiration date is required.
                    </div>

                    <div class="text-danger mx-2 w-100 " *ngIf="donateForm.get('expDate')?.hasError('pattern')">
                        Card expiration date is required.
                    </div>

                    <span class="text-danger mx-2 w-100 " *ngIf="donateForm.controls.cvc.invalid && (donateForm.controls.cvc.dirty || donateForm.controls.cvc.touched) ">
                            Card CVC is required.
                    </span>

                    <span class="text-danger mx-2 w-100 " *ngIf="donateForm.get('cvc')?.hasError('pattern') ">
                        Card CVC needs to be the right length, check if you have entered an extra or one less number.
                    </span>

                    <div class="form-group mx-2 pt-4 ">
                        <label formControlName="billingAddress " for="exampleBillingAddress ">BILLING ADDRESS</label>
                    </div>




                    <div class="form-group mx-2 pb-4 d-flex ">



                        <input formControlName="zip" type="text" class="form-control p-2 w-50 " id="exampleZipCode" pattern="^\d{1,20}$" placeholder="Zipcode*" maxlength="20" required>

                        <input formControlName="state" type="state" class="form-control p-2 w-50 " id="exampleState" pattern="^[A-Za-z]{2,20}$" placeholder="State*" required>
                    </div>

                    <!--State-->
                    <div class="text-danger mx-2 w-100 " *ngIf="donateForm.controls.state.invalid && (donateForm.controls.state.dirty || donateForm.controls.state.touched) ">
                        <div *ngIf="donateForm.get('state')?.hasError( 'required') ">
                            Card State is required.
                        </div>
                    </div>
                    <div class="text-danger mx-2 w-100 ">
                        <div *ngIf="donateForm.get('state')?.hasError('pattern')">
                            Letters only.
                        </div>
                    </div>


                    <!--Zipcode-->
                    <div class="text-danger mx-2 w-100 " *ngIf="donateForm.controls.zip.invalid && (donateForm.controls.zip.dirty || donateForm.controls.zip.touched) ">
                        <span *ngIf="donateForm.get('zip')?.hasError( 'required') ">
                            Card Zipcode is required.
                        </span>
                        <span *ngIf="donateForm.get('zip')?.hasError('pattern')">
                            Please only numbers required.
                        </span>
                    </div>

                    <!-- <button type="submit " class="donationBtn px-3 py-2 m-2 ">SUBMIT</button> -->

                    <div class="py-2 m-2 px-4 " class="d-flex justify-content-between">
                        <button type="submit" value="Submit" class="donationBtn mx-2">SUBMIT</button>
                        <button type="reset" class="donationBtn">RESET</button>
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- Donate end -->
    </div>