.footerText1 {
    color: #f5edd5;
    font-size: 1.75rem;
    text-align: center;
    position: relative;
    top: 40%;
}

.footerText2 {
    color: #f5edd5;
    font-size: 1 rem;
    text-align: center;
    position: relative;
    top: 40%;
}