<!-- Header-->
<div id="hero">
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 text-white mb-2 pt-5" id="Bulletin-Title">Welcome to the Bulletin!</h1>
                        <p class="lead text-white-50 mb-4" id="Bulletin-Desc">In the Bulletin you can find the latest Event post, Business cards of neighbors who may offer a services you may need, and Jobs ads from your neighbors!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="policy">Guidelines</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="administer">Create One</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Business section-->
    <section class="business-card py-5" id="features">
        <div class="text-center mb-5">
            <h2 class="Bulletin-title-card-desc">My neighbor's Business Cards</h2>
            <p class="lead mb-0" id="Bulletin-card-desc">Why contact a stranger, check out your neighbor's provided services!</p>
        </div>

        <div class="search-section">
            <div class="searchBar">
                <input type="text" name="search" [(ngModel)]="searchTextBusiness" id="typeahead-format" class="form-control" placeholder="Seach business by date, name, etc." />
            </div>

        </div>


        <div class="card-holder" style="min-height: 300px; margin-top: 30px;" *ngIf="listBusinesscards.length > 0">
            <!-- Card 1-->
            <div class="modal-body" id="serv-card" style="margin-right: 20px; margin-left: 20px;" *ngFor="let businesscard of listBusinesscards | filter:searchTextBusiness">
                <form class="card " style="max-width: 400px; min-width: 400px; height: 225px;">



                    <div class="card-body">
                        <div class="card-contact1">
                            <span>{{businesscard.phone}}</span>
                            <span>{{businesscard.name}}</span>
                        </div>
                        <div class="card-title1">
                            <span>{{businesscard.email}}</span>
                            <span>{{businesscard.title}}</span>
                        </div>

                        <hr>
                        <div class="Business-Title">{{businesscard.bName}}</div>
                        <div class="Business-Services">{{businesscard.bServ}}</div>


                    </div>

                    <div class="Business-website">{{businesscard.website}}</div>

                    <div class="all-circles" style="text-align:center">
                        <span class="circle1">
        <span class="circle2">
            <span class="circle3"></span>
                        </span>
                        </span>


                    </div>



                </form>

            </div>

        </div>

    </section>

    <!-- Events section-->
    <hr>


    <section class="event py-5">
        <div class="container my-5">
            <div class="text-center mb-5">
                <h2 class="Bulletin-title-card-desc">My Neighborhood's Events</h2>
                <p class="lead mb-0" id="Bulletin-card-desc">Check out the latest neighbor events, join them and have fun!</p>
            </div>

            <div class="search-section">
                <div class="searchBar">
                    <input type="text" name="search" [(ngModel)]="searchTextEvent" id="typeahead-format" class="form-control" placeholder="Seach events by date, name, etc." />
                </div>

            </div>

            <div class="card-holder" style="min-height: 300px; margin-top: 30px;" *ngIf="listEvents.length > 0">
                <div class="modal-body mx-2 mb-4" id="event-card" *ngFor="let event of listEvents | filter:searchTextEvent">
                    <form class="card " style="max-width: 400px; min-width: 400px;">

                        <div class="card-body">
                            <h5 class="card-title">{{event.eventName}}</h5>
                            <hr>
                            <p class="card-text">{{event.eventDesc}}</p>
                            <hr>
                            <h6 class="card-contact-address"><span>Contact: {{event.email}}</span></h6>
                            <h6 class="card-contact-address"><span>Creator: {{event.creatorName}}</span></h6>
                            <h6 class="card-contact-address"><span>Location: {{event.eventLocation}}</span></h6>
                            <h6 class="card-date-time mt-3"><span>From: {{event.eventStart}}</span> <span>To: {{event.eventEnd}}</span></h6>

                        </div>
                    </form>
                </div>
            </div>
            <h4 *ngIf="listJobs.length == 0">There's has not been any jobs added to show.</h4>

        </div>
    </section>

    <!-- Job section -->
    <hr>
    <section class="event py-5">
        <div class="container my-5">
            <div class="text-center mb-5">
                <h2 class="Bulletin-title-card-desc">My Neighborhood's Jobs</h2>
                <p class="lead mb-0" id="Bulletin-card-desc">Check out the latest neighbor jobs, find one and reply to it!</p>
            </div>

            <div class="search-section">
                <div class="searchBar">
                    <input type="text" name="search" [(ngModel)]="searchTextJob" id="typeahead-format" class="form-control" placeholder="Seach events by date, name, etc." />
                </div>

            </div>

            <div class="card-holder" style="min-height: 300px; margin-top: 30px;" *ngIf="listJobs.length > 0">
                <div class="modal-body mx-2 mb-4" id="event-card" *ngFor="let job of listJobs | filter:searchTextJob">
                    <form class="card " style="max-width: 400px; min-width: 400px;">

                        <div class="card-body">
                            <h5 class="card-title">{{job.jobName}}</h5>
                            <hr>
                            <p class="card-text">{{job.jobDesc}}</p>
                            <hr>
                            <h6 class="card-contact-address"><span>Contact: {{job.email}}</span></h6>
                            <h6 class="card-contact-address"><span>Creator: {{job.creatorName}}</span></h6>
                            <h6 class="card-contact-address"><span>Location: {{job.jobLocation}}</span></h6>
                            <h6 class="card-date-time"><span>Phone: {{job.phone}}</span></h6>

                        </div>
                    </form>
                </div>
            </div>
            <h4 *ngIf="listJobs.length == 0">There's has not been any jobs added to show.</h4>
        </div>
    </section>


</div>